.wrap {
  width: 100%;
  height: 45px;
  border-bottom: 1px solid #EA32EC;
  position: relative;
  background: #EBE7F3;

  .header {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    background: #EBE7F3;

    > ul {
      height: 100%;

      > li {
        height: 100%;
        line-height: 45px;
        font-size: 15px;
        color: #555555;
      }
    }


  }

  .user {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.popup {
  box-shadow: 0 2px 4px 0 rgba(234,50,236,0.5);
}